.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #96a0b5;
}

.table__row:nth-child(even) {
    background-color:#6d7a93;
}

.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}

h1 {
    font-family: arial;
    color: #a1b0d8;
}

#searchTitle {
    font-family: arial;
    color: #a1b0d8;

}

body {
    background-color: #2c2f3e;
}

#search {
    display: inline-block;
    border: 2px solid #445fa5;
    border-radius: 18px;
    font-size: 14px;
    border-spacing: 2px;
    padding: 8px 16px;
    font-style: italic;
    background-color: transparent;
    color: #a1b0d8;
    border-color: #445fa5;

}

#search::placeholder {
    color: #a1b0d8;
    border-color: #445fa5;
}

button {
    background-color:transparent;
    border-radius:20px;
    border:2px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#a1b0d8;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    border-color: #445fa5;
}

button:hover {
    background-color:transparent;
}

button:active {
    position: relative;
    top: 1px;
}
