.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #96a0b5;
    text-align: center;
    font-family: arial;
}

.table__row:nth-child(even) {
    background-color:#6d7a93;

}

.table__header {
    text-align: left;
    color: #2c2f3e;
}

.table__cell {
    padding: 8px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: arial;
    color: #a1b0d8;
    text-align: center;
    display: inline inherit;
    margin-bottom: 20px;
    margin-top: 0px;
    padding: 1em;
}

#searchTitle {
    font-family: arial;
    color: #a1b0d8;
    display: inherit;

}

img {
    white-space: nowrap;
    max-width: 60px;
    height:  auto;
    display: inline;
    float: right;
    margin-top: 1em;
}

#upperBackImage {
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt13186c22cf0a2f30/5d87c24e3166f22df2ab8dc4/howlingabyss.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: inherit;
    white-space: nowrap;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
}

#search {
    display: inline;
    border: 2px solid #445fa5;
    border-radius: 18px;
    font-size: 14px;
    border-spacing: 2px;
    padding: 8px 16px;
    color: #a1b0d8;
    border-color: #445fa5;
    margin-bottom: 36px;
    background-color: transparent;
}

#search:focus, #category:focus {
    outline: none !important;
    border-color: #a1b0d8;
    color: #a1b0d8;
    border-spacing: 2px;
}

#search::placeholder {
    color: #a1b0d8;
    border-color: #445fa5;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
}

input:focus
{
    border-color: #a1b0d8;
}

#search_button, #category {
    border-radius:20px;
    border:2px solid #dcdcdc;
    display:inline;
    cursor:pointer;
    color:#a1b0d8;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:8px 16px;
    text-decoration:none;
    border-spacing: 2px;
    border-color: #445fa5;
    background-color: transparent;
}

#search_button:hover, #category:hover {
    border-color: #a1b0d8;
}

#search_button:active {
    position: relative;
    top: 1px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #2c2f3e;
}