<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <h1>League of Legends Data</h1>
    </head>
    <body>
        <div>
            <h3>Search:</h3>
            <input type="text" id="search">
            <button type="button" id="search_button">Go</button>
        </div>
        <div>
            <table>
                <tr>
                    {% for header in headings %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>