<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>CSE 412 Final Project</title>
        <h1>League of Legends Data</h1>
    </head>
    <body>
        <div>
            <h3>Search:</h3>
            <input type="text" id="search">
            <button type="button" id="search_button">Go</button>
        </div>
        <div>
            <table class="table">
                <tr class="table__header">
                    {% for header in headings %}
                    <th class="table__cell">{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td class="table__cell">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>