<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/static/style.css" />
        <title>CSE 412 Final Project</title>
    </head>
    <body>
        <div id="upperBackImage">
            <img src="https://icon-library.com/images/league-of-legends-logo-icon/league-of-legends-logo-icon-28.jpg" alt="Logo">
            <a href="{{ url_for('index') }}"><h1>League of Legends Data</h1></a>
            <form id="searchLine" method="POST" action="{{ url_for('result') }}">
                <!-- <h3 id="searchTitle">Search:</h3> -->
                <input type="text" name="search" id="search" placeholder="Search">
                <select name="category" id="category">
                    <option value="champion">Champion</option>
                    <option value="player">Player</option>
                    <option value="match">Match</option>
                </select>
                <input type="submit" id="search_button" value="Go">
            </form>
            <br id="break">
        </div>
            <center>
            <div class="alert">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h2>{{ message }}</h2>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <table class="table" class="center">
                <tr class="table__header">
                    {% for header in headings %}
                    <th class="table__cell">{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in data %}
                <tr class="table__row">
                    {% for cell in row %}
                    <td class="table__cell">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </center>
        </div>
        <div class="footer">
            <p>Created by Created by - Group 17: Aidan Morgan | Liam Donnelly | Novilia Lioe | Junghwan Park</p>
        </div>

    </body>
</html>